.wrapper {
  width: 80%;
  height: 80vh;
  margin: auto;
  background-color: rgb(32, 161, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: red;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 4s linear infinite;
  border-radius: 10px;
}
.box {
  width: 100px;
  height: 20px;
  background-color: aqua;
  position: absolute;
  left: 20px;
  bottom: 20px;
  animation-name: transform;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  padding: 1rem;
}

h1 {
  animation-name: popup; /*    name of the animation*/
  animation-duration: 1s; /* how long the animaition should last   */
  animation-delay: 1s; /* after how long the animation starts when the page is loaded   */
  animation-iteration-count: infinite; /*  how many times animation should play  */
  animation-direction: alternate; /* direction of animation// clockwise by default   */
  animation-play-state: running; /*  ..............  */
}

@keyframes popup {
  0% {
    font-size: 20px;
  }

  25% {
    font-size: 30px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 50px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes transform {
  0% {
    width: 20%;
  }
  20% {
    width: 30%;
  }
  40% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }

  100% {
    width: 90%;
  }
}
